html,
body {
  height: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  height: 100%;
  width: 100%;
}

.tabs {
  color: #26a69a;
}

#place-pic {
  padding: 0px;
}

#filter-header {
  display: block;
  color: #26a69a;
}

#map {
  height: 100%;
  width: 100%;
  display: none;
}

#place-info {
  display: none;
}

.main {
  color: #26a69a;
}

.tabs .tab a.active:focus {
  background-color: #f5f5f5;
  color: #26a69a;
}

.tabs .indicator {
  background-color: #26a69a;
}

.monoton {
  font-family: Monoton;
}

.material-icons {
  vertical-align: middle;
}

.page-footer, .page-footer .footer-copyright {
  color: #26a69a;
  background-color: white;
}
