html, body {
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
}

.title {
    height: 40%;
}

.label {
    left: 50%;
}

#map {
    height: 60%;
    width: 100%;
    /*position: relative;*/
}

.monoton {
    font-family: Monoton;
    color: #26a69a;
}

.material-icons {
    vertical-align: middle;
}
